<!DOCTYPE html>
<html>
  <head>
    <title>QuestRabbit</title>
    <%= csrf_meta_tags %>
     <meta property="og:title" content="Quest Rabbit" />
     <meta property='og:image' content="<%= image_url('app_img.png') %>"/>
     <meta property="og:description"
       content="A clone of Task Rabbit."
     />
     <meta property="og:url"
       content="https://quest-rabbit.herokuapp.com/#/"
     />
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="icon" type="image/png" href="<%= image_url('rabbit.png')%>"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <% if logged_in? %>
      <script type="text/javascript">
      window.currentUser = {
        "id": "<%= current_user.id %>",
        "username": "<%= current_user.username %>"
      }
      </script>
    <% end %>
    <script>
     window.logo = "<%= image_url('QuestRabbit.jpg') %>";
     window.formPhoto = "<%= image_url('formphoto.jpg') %>";
     window.hero = "<%= image_url('hero.jpg') %>";
     window.ftch = "<%= image_url('fetch.jpg') %>";
     window.craft = "<%= image_url('craft.jpg') %>";
     window.escort = "<%= image_url('escort.jpg') %>";
     window.slay = "<%= image_url('slay.jpg') %>";
     window.linked = "<%= image_url('linkedin.png') %>";
     window.git = "<%= image_url('GitHub.png') %>";
     window.star = "<%= image_url('star.png') %>";
     window.hercules = "<%= image_url('hercules.jpg') %>";
     window.goblin_slayer = "<%= image_url('goblin_slayer.jpg') %>";
     window.isaac_newton = "<%= image_url('isaac_newton.jpg') %>";
     window.play = "<%= image_url('play.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
